<div class="px-4 py-3 bg-white">
  <div class="">
    <span class="block text-gray-700 font-bold mb-2">ページ画像</span>
    <%= form_with url: page_profile_image_path, html: { multipart: true, class: "space-y-4" } do |f| %>
      <div class="flex items-center space-x-4">
        <%= image_tag @page.display_profile_image, class: "w-24 h-24 border border-gray-300 object-cover" %>
      </div>
      <div>
        <%= f.label :profile_image, "新しい画像を選択", class: "block text-sm font-medium text-gray-700" %>
        <%= f.file_field :profile_image, class: "mt-1 block w-full text-sm cursor-pointer" %>
      </div>
      <div>
        <%= f.submit "更新する", class: "w-full bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700" %>
      </div>
    <% end %>
  </div>
</div>
