<div class="px-4 py-2 bg-white">
  <%= link_to page_path(@page), class: "text-sm underline" do %>
    ←ページへ戻る
  <% end %>
  <div class="mt-6">
    <h2 class="text-lg font-bold"><%= t("helpers.pages.update_post") %></h2>
  </div>
</div>
<div class="px-4 pt-2 pb-8 bg-white">
  <%= form_with model: @page_post, url: page_page_post_path(page_id: @page.id, id: @page_post.id), method: :patch, class: "grid grid-cols-1 gap-5" do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, class: "w-full rounded border mt-1 p-2", required: true, maxlength: 50 %>
    </div>
    <div>
      <%= f.label :cover_image %>
      <span class="text-sm text-gray-500 ml-1"><%= t("helpers.optional") %></span>
      <%= f.file_field :cover_image, class: "mt-1 block w-full text-sm cursor-pointer", accept: "image/png, image/jpeg, image/jpg, image/webp, image/avif" %>
    </div>
    <div>
      <%= f.label :content, class: "block tracking-wide text-gray-700 font-bold mb-2" %>
      <span class="text-sm text-gray-500 ml-1"><%= t("helpers.pages.post_content_max", count: 2000) %></span>
      <%= f.text_area :content, class: "w-full rounded border mt-1 p-2", rows: 14, maxlength: 2000, required: true %>
    </div>
    <div class="flex gap-4 justify-end">
      <%= link_to page_page_post_path(page_id: @page.id, id: @page_post.id), data: { turbo_method: :delete, turbo_confirm: t("flash.delete_confirm") }, class: "text-red-700 font-bold py-2 px-4 cursor-pointer" do %>
        <%= t("helpers.submit.delete") %>
      <% end %>
      <%= f.submit t("helpers.submit.update"), class: "bg-black text-white font-bold py-2 px-4 rounded cursor-pointer" %>
    </div>
  <% end %>
</div>
