<% content_for :title, t("helpers.signup.title") %>
<% content_for :skip_menu, true %>
<div class="container mx-auto px-4 md:px-0 py-3">
  <%= form_with model: @user, url: signup_path, local: true, class: "grid grid-cols-1 gap-5", data: { controller: "signup" } do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, class: "w-full bg-gray-100 rounded border p-1", data: { action: "blur->signup#validateEmail", signup_target: "email" } %>
      <div data-signup-target="emailError" class="text-sm text-red-500 hidden"><%= t("helpers.signup.email_error") %></div>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, class: "w-full bg-gray-100 rounded border p-1", data: { action: "blur->signup#validatePassword", signup_target: "password" } %>
      <div data-signup-target="passwordError" class="text-sm text-red-500 hidden"><%= t("helpers.signup.password_error") %></div>
    </div>
    <div>
      <span class="text-sm">
        <%= t("helpers.signup.agree", link: "<a href='#{terms_path}' target='_blank' class='text-blue-500'>#{t('helpers.signup.terms')}</a>").html_safe %>
      </span>
    </div>
    <div>
      <%= f.submit t("helpers.signup.submit"), class: "w-full bg-gray-300 py-2", data: { signup_target: "submit" }, disabled: true %>
    </div>
  <% end %>
  <div>
    <%= link_to t("helpers.signup.signin"), signin_path, class: "text-blue underline" %>
  </div>
</div>
