<% content_for :title, t("helpers.signup.title") %>
<% content_for :skip_menu, true %>
<div class="container mx-auto px-4 pt-3 pb-6 bg-white">
  <%= form_with model: @user, url: signup_path, local: true, class: "grid grid-cols-1 gap-5", data: { controller: "signup" } do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, class: "w-full rounded border mt-1 p-2", required: true, placeholder: "mail@example.com" %>
      <div data-signup-target="emailError" class="text-sm text-red-500 hidden"><%= t("helpers.signup.email_error") %></div>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, class: "w-full rounded border mt-1 p-2", required: true, minlength: 8, maxlength: 20 %>
      <div data-signup-target="passwordError" class="text-sm text-red-500 hidden"><%= t("helpers.signup.password_error") %></div>
    </div>
    <div>
      <span class="text-sm">
        <%= t("helpers.signup.agree", link: "<a href='#{terms_path}' target='_blank' class='text-blue-500 underline'>#{t('helpers.signup.terms')}</a>").html_safe %>
      </span>
    </div>
    <div class="mt-2">
      <%= f.submit t("helpers.signup.submit"), class: "bg-black w-full text-white py-2 px-4 rounded cursor-pointer" %>
    </div>
  <% end %>
  <div class="mt-8">
    <%= link_to t("helpers.signup.signin"), signin_path, class: "text-blue underline" %>
  </div>
</div>
