<div class="px-4 py-2">
  <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <%= link_to root_path, class: "inline-flex items-center text-sm underline" do %>
          <%= t('helpers.top') %>
        <% end %>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="ms-1 text-lg font-medium md:ms-2"><%= t("helpers.inclusive_hub_editors") %></span>
        </div>
      </li>
    </ol>
  </nav>
</div>
<div class="p-4 bg-white">
  <div class="flex justify-between items-center">
    <div>
      <%= page_entries_info @official_posts %>
    </div>
    <div>
      <%= link_to new_official_post_path, class: "px-3 py-2 flex-item text-sm rounded border border-gray-500 block" do %>
        <%= t("helpers.pages.write_post") %>
      <% end %>
    </div>
  </div>
  <div>
    <ul class="mt-4">
      <% @official_posts.each do |post| %>
        <%= render "official_posts/official_post_item", post: post, official_posts: @official_posts %>
      <% end %>
    </ul>
    <div>
      <%= paginate @official_posts %>
    </div>
  </div>
</div>
