<div class="px-4 pt-3 pb-6 bg-white">
  <div class="flex items-center justify-between">
    <div>
      <%= image_tag @user.display_profile_image, class: "w-24 h-24 object-cover rounded" %>
    </div>
    <% if current_user.id == @user.id %>
      <%= link_to settings_path, class: "p-3 flex-item text-sm rounded border border-gray-500" do %>
        <%= t("helpers.user.edit_profile") %>
      <% end %>
    <% end %>
  </div>
  <div class="mt-4">
    <h2 class="text-xl font-bold flex items-center">
      <%= @user.display_name %>
    </h2>
    <div class="mt-2 text-sm text-gray-500 break-all"><%= simple_format(auto_link(@user.bio, html: { target: "_blank", rel: "noopener", class: "underline text-blue-500" })) %></div>
  </div>
</div>
<div class="h-4"></div>
<%= render "shared/feedback_white" %>
