<h2 class="text-xl font-bold mt-2 mb-4">
  <% if current_user %>
    <%= t("helpers.home.welcome", name: current_user.name) %>
  <% else %>
    <%= t("helpers.home.welcome_guest") %>
  <% end %>
</h2>
<div class="w-full flex flex-col gap-2">
  <div class="px-3 md:px-5 py-2 border rounded-lg">
    <%= link_to category_path(@categories[0].id) do %>
      <div class="flex items-center space-x-4">
        <div>
          <%= image_tag @categories[0].icon, class: "w-8 h-8" %>
        </div>
        <div>
          <h5 class="text-xl font-bold tracking-tight"><%= @categories[0].name %></h5>
          <p class="text-xs text-gray-700"><%= @categories[0].keywords.map(&:name).join("、") %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="px-3 md:px-5 py-2 border rounded-lg">
    <%= link_to category_path(@categories[1].id) do %>
      <div class="flex items-center space-x-4">
        <div>
          <%= image_tag @categories[1].icon, class: "w-8 h-8" %>
        </div>
        <div>
          <h5 class="text-xl font-bold tracking-tight"><%= @categories[1].name %></h5>
          <p class="text-xs text-gray-700"><%= @categories[1].keywords.map(&:name).join("、") %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="px-3 md:px-5 py-2 border rounded-lg">
    <%= link_to category_path(@categories[2].id) do %>
      <div class="flex items-center space-x-4">
        <div>
          <%= image_tag @categories[2].icon, class: "w-8 h-8" %>
        </div>
        <div>
          <h5 class="text-xl font-bold tracking-tight"><%= @categories[2].name %></h5>
          <p class="text-xs text-gray-700"><%= @categories[2].keywords.map(&:name).join("、") %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="px-3 md:px-5 py-2 border rounded-lg">
    <%= link_to category_path(@categories[3].id) do %>
      <div class="flex items-center space-x-4">
        <div>
          <%= image_tag @categories[3].icon, class: "w-8 h-8" %>
        </div>
        <div>
          <h5 class="text-xl font-bold tracking-tight"><%= @categories[3].name %></h5>
          <p class="text-xs text-gray-700"><%= @categories[3].keywords.map(&:name).join("、") %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="px-3 md:px-5 py-2 border rounded-lg">
    <%= link_to category_path(@categories[4].id) do %>
      <div class="flex items-center space-x-4">
        <div>
          <%= image_tag @categories[4].icon, class: "w-8 h-8" %>
        </div>
        <div>
          <h5 class="text-xl font-bold tracking-tight"><%= @categories[4].name %></h5>
          <p class="text-xs text-gray-700"><%= @categories[4].keywords.map(&:name).join("、") %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="px-3 md:px-5 py-2 border rounded-lg">
    <%= link_to category_path(@categories[5].id) do %>
      <div class="flex items-center space-x-4">
        <div>
          <%= image_tag @categories[5].icon, class: "w-8 h-8" %>
        </div>
        <div>
          <h5 class="text-xl font-bold tracking-tight"><%= @categories[5].name %></h5>
          <p class="text-xs text-gray-700"><%= @categories[5].keywords.map(&:name).join("、") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
