<div class="px-4 pt-3 py-6">
  <h2 class="text-xl font-bold mt-2 mb-4">
    <% if current_user %>
      <%= t("helpers.home.welcome", name: current_user.name) %>
    <% else %>
      <%= t("helpers.home.welcome_guest") %>
    <% end %>
  </h2>
  <div class="w-full flex flex-col gap-2">
    <%= render "shared/category_item", category: @categories[0] %>
    <%= render "shared/category_item", category: @categories[1] %>
    <%= render "shared/category_item", category: @categories[2] %>
    <%= render "shared/category_item", category: @categories[3] %>
    <%= render "shared/category_item", category: @categories[4] %>
    <%= render "shared/category_item", category: @categories[5] %>
  </div>
</div>
<div class="px-4 pt-4 pb-2 bg-white">
  <h2 class="text-xl font-bold">
    <%= t("helpers.home.new_posts") %>
  </h2>
  <ul class="mt-4">
    <% @page_posts.each do |post| %>
      <%= render "shared/page_post_item", post: post, page_posts: @page_posts %>
    <% end %>
  </ul>
</div>
<div class="h-4"></div>
<div class="px-4 pt-4 pb-2 bg-white">
  <div class="flex">
    <h2 class="text-xl font-bold">
      <%= t("helpers.inclusive_hub_editors") %>
    </h2>
    <div class="ml-auto">
      <%= link_to official_posts_path, class: "block px-2 py-1 border border-gray-400 rounded inline-flex items-center text-sm text-gray-700" do %>
        <%= t("helpers.see_more") %>
        <span class="material-icons-outlined text-sm ml-0.5 mt-0.5">
          arrow_forward_ios
        </span>
      <% end %>
    </div>
  </div>
  <ul class="mt-4">
    <% @official_posts.each do |post| %>
      <%= render "shared/official_post_item", post: post, official_posts: @official_posts %>
    <% end %>
  </ul>
</div>
<div class="h-4"></div>
<%= render "shared/feedback_white" %>
