<li class="pt-2 pb-3 border-gray-300 <%= "border-b" unless page == pages.last %>">
  <%= link_to page_path(page), class: "block" do %>
    <div class="flex items-center">
      <div class="w-16 flex-shrink-0">
        <%= image_tag page.display_profile_image, class: "w-16 h-16 object-cover rounded" %>
      </div>
      <div class="ml-4">
        <h3 class="font-bold"><%= page.name %></h3>
        <p class="mt-2 text-sm line-clamp-2 overflow-hidden text-ellipsis break-all"><%= page.bio %></p>
      </div>
    </div>
  <% end %>
</li>
