<%= content_for :title, t("helpers.setting.title") %>
<div class="px-4 py-2 bg-white">
  <%= link_to page_path(@page), class: "text-sm underline" do %>
    ←ページへ戻る
  <% end %>
  <div class="mt-6">
    <h2 class="text-lg font-bold"><%= t("helpers.pages.edit") %></h2>
  </div>
</div>
<div class="container mx-auto px-4 pt-3 pb-6 bg-white">
  <%= form_with model: @page, url: page_path(@page.id), method: :put, class: "grid grid-cols-1 gap-5" do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, class: "block w-full border border-gray-200 rounded py-3 px-4 mt-1 leading-tight", maxlength: 20 %>
    </div>
    <div>
      <%= f.label :category_id %>
      <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] }, { include_blank: true }, class: "w-full rounded border mt-1 p-2 text-sm", required: true %>
    </div>
    <div>
      <span>ページ画像</span>
      <%= image_tag @page.display_profile_image, class: "w-24 h-24 my-4 object-cover border border-gray-300 rounded" %>
      <%= link_to t("helpers.setting.change_image"), page_profile_image_path(@page.id), class: "block inline-block border border-gray-300 bg-gray-100 mb-1.5 py-1.5 px-3 rounded text-center text-sm" %>
    </div>
    <div>
      <%= f.label :url %>
      <span class="text-sm text-gray-500 ml-1"><%= t("helpers.optional") %></span>
      <%= f.text_field :url, class: "w-full rounded border mt-1 p-2", required: true, rows: 3, maxlength: 255 %>
    </div>
    <div>
      <%= f.label :bio %>
      <%= f.text_area :bio, class: "block w-full border border-gray-200 rounded py-3 px-4 leading-tight", required: true, rows: 4, maxlength: 255 %>
    </div>
    <div class="flex justify-end">
      <%= f.submit t("helpers.pages.update"), class: "bg-black text-white font-bold py-2 px-4 rounded text-center cursor-pointer" %>
    </div>
  <% end %>
</div>
