<%= content_for :title, t("helpers.setting.title") %>
<div class="px-4 py-2 bg-white">
  <div class="my-6">
    <span class="block text-gray-700 font-bold mb-2">ページ画像</span>
    <%= image_tag @page.display_profile_image, class: "w-24 h-24 my-4 object-cover" %>
    <%= link_to t("helpers.setting.change_image"), page_profile_image_path(@page.id), class: "border py-2 px-4 rounded text-center" %>
  </div>
  <%= form_with model: @page, url: page_path(@page.id), method: :put do |f| %>
    <div class="my-4">
      <%= f.label :name, class: "block tracking-wide text-gray-700 font-bold mb-2" %>
      <%= f.text_field :name, class: "block w-full border border-gray-200 rounded py-3 px-4 mb-3 leading-tight", maxlength: 20 %>
    </div>
    <div class="my-4">
      <%= f.label :bio, class: "block tracking-wide text-gray-700 font-bold mb-2" %>
      <%= f.text_area :bio, class: "block w-full border border-gray-200 rounded py-3 px-4 mb-3 leading-tight", maxlength: 160 %>
    </div>
    <div class="my-4">
      <%= f.submit t("helpers.submit.update"), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>
