<% content_for :title, t("helpers.signin.title") %>
<% content_for :skip_menu, true %>
<div class="container mx-auto px-4 pt-3 pb-6 bg-white">
  <%= form_with model: @user, url: signin_path, local: true, class: "grid grid-cols-1 gap-5" do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, class: "w-full rounded border mt-1 p-2", required: true, placeholder: "mail@example.com" %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, class: "w-full rounded border mt-1 p-2", required: true, minlength: 8, maxlength: 20 %>
    </div>
    <div>
      <%= f.submit t("helpers.signin.submit"), class: "w-full bg-blue-500 text-white py-2 rounded cursor-pointer" %>
    </div>
  <% end %>
  <div class="mt-2">
    <%= link_to t("helpers.signin.forgot_password"), root_path, class: "text-blue underline" %>
  </div>
  <div>
    <%= link_to t("helpers.signin.signup"), signup_path, class: "text-blue cursor-pointer underline" %>
  </div>
</div>
