<div class="px-4 py-2">
  <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <%= link_to root_path, class: "inline-flex items-center text-sm underline" do %>
          <%= t('helpers.top') %>
        <% end %>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <%= link_to category_path(@keyword.category), class: "inline-flex items-center text-sm underline" do %>
            <%= @keyword.category.name %>
          <% end %>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <div class="flex items-center rounded bg-gray-200 px-3 py-1 text-sm leading-5">
            <%= @keyword.name %>
          </div>
        </div>
      </li>
    </ol>
  </nav>
</div>
<ul class="flex flex-wrap text-sm font-medium text-center">
  <li class="flex-1 border-r bg-white">
    <a href="#" aria-current="page" class="inline-block w-full p-4">民間・企業</a>
  </li>
  <li class="flex-1">
    <a href="#" class="inline-block w-full p-4">行政</a>
  </li>
</ul>
