<div class="px-4 py-2">
  <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center">
        <%= link_to root_path, class: "inline-flex items-center text-sm underline" do %>
          <%= t('helpers.top') %>
        <% end %>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="ms-1 text-lg font-medium md:ms-2"><%= @category.name %></span>
        </div>
      </li>
    </ol>
  </nav>
</div>
<div class="px-4">
  <ul class="flex flex-wrap">
    <% @keywords.each do |keyword| %>
      <%= link_to keyword_path(keyword) do %>
        <li class="mr-1.5">
          <div class="flex items-center rounded bg-white px-3 py-1 text-xs leading-5 border border-gray-500">
            <span class="text-gray font-bold">
              <%= keyword.name %>
            </span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="mt-4 p-4 bg-white">
  <h2 class="text-xl font-bold">
    <%= t("helpers.home.new_posts") %>
  </h2>
  <ul class="mt-4">
    <% @page_posts.each do |post| %>
      <%= render "shared/page_post_item", post: post, page_posts: @page_posts %>
    <% end %>
  </ul>
</div>
<div class="mt-4 p-4 bg-white">
  <div class="flex">
    <h2 class="text-xl font-bold">
      <%= t("helpers.civilian") %>
    </h2>
    <div class="ml-auto">
      <%= link_to nil, class: "block px-2 py-1 border border-gray-400 rounded inline-flex items-center text-sm text-gray-700" do %>
        <%= t("helpers.see_more") %>
        <span class="material-icons-outlined text-sm ml-0.5 mt-0.5">
          arrow_forward_ios
        </span>
      <% end %>
    </div>
  </div>
  <div>
    <ul class="mt-4">
      <% @civilian_pages.each do |page| %>
        <%= render "shared/page_item", page: page %>
      <% end %>
    </ul>
  </div>
</div>
<div class="mt-4 p-4 bg-white">
  <div class="flex">
    <h2 class="text-xl font-bold">
      <%= t("helpers.government") %>
    </h2>
    <div class="ml-auto">
      <%= link_to nil, class: "block px-2 py-1 border border-gray-400 rounded inline-flex items-center text-sm text-gray-700" do %>
        <%= t("helpers.see_more") %>
        <span class="material-icons-outlined text-sm ml-0.5 mt-0.5">
          arrow_forward_ios
        </span>
      <% end %>
    </div>
  </div>
  <div>
    <ul class="mt-4">
      <% @government_pages.each do |page| %>
        <%= render "shared/page_item", page: page %>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/feedback_white" %>
