<% content_for :title, t("helpers.setup.title") %>
<% content_for :skip_header, true %>
<div class="container mx-auto px-4 pt-3 pb-6 bg-white">
  <h2 class="text-lg font-bold my-8">アカウントのセットアップ</h2>
  <%= form_with model: current_user, url: signup_setup_path, method: :post, local: true, class: "grid grid-cols-1 gap-5" do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, class: "w-full rounded border mt-1 p-2", required: true, maxlength: 20 %>
    </div>
    <div>
      <%= f.label :display_name %>
      <span class="text-sm text-gray-500 ml-1"><%= t("helpers.optional") %></span>
      <%= f.text_field :display_name, class: "w-full rounded border mt-1 p-2", required: false, maxlength: 20 %>
    </div>
    <div>
      <%= f.label :profile_image %>
      <span class="text-sm text-gray-500 ml-1"><%= t("helpers.optional") %></span>
      <%= f.file_field :profile_image, class: "mt-1 block w-full text-sm cursor-pointer" %>
    </div>
    <div>
      <%= f.label :url %>
      <span class="text-sm text-gray-500 ml-1"><%= t("helpers.optional") %></span>
      <%= f.text_field :url, class: "w-full rounded border mt-1 p-2", required: false, maxlength: 255 %>
    </div>
    <div>
      <%= f.label :background, class: "block" %>
      <span class="text-sm text-gray-500"><%= t("helpers.setup.background_detail") %></span>
      <%= f.text_area :background, class: "w-full rounded border mt-1 p-2", required: true, rows: 3, maxlength: 255 %>
    </div>
    <div>
      <%= f.label :bio %>
      <span class="text-sm text-gray-500 ml-1"><%= t("helpers.optional") %></span>
      <%= f.text_area :bio, class: "w-full rounded border mt-1 p-2", rows: 3, maxlength: 255, placeholder: t("helpers.setup.bio") %>
    </div>
    <div>
      <%= f.submit t("helpers.setup.submit"), class: "w-full bg-blue-500 text-white font-bold py-2 px-4 rounded text-center" %>
    </div>
  <% end %>
</div>
